.search_field {
    margin: 3%;
    width: 40%;
}

/* a {
    color: black;
    text-decoration: none;
    /* margin: 10%; */


.me-auto a,
span {
    color: black;
    text-decoration: none;
    padding: 0 5%;

}


.cart_grid_container {
    box-sizing: border-box;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 2%;
    margin-bottom: 2%;
}
.cart_img_added {
    width: 100%;
}
.cart_details {
    padding: 2%;
}

.signup_form {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.signup_form button {
    margin-top: 1%;
    width: 30%;
    border-radius: 14px;
}
.signup_form label input {
    margin: 1% 5%;
    display: inline;
    /* background-color: red; */
}

/* a {
    text-decoration: none;
    color: black;
    padding: 0 2%;
}
a:hover {
    text-decoration: none;

} */
